<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitchening</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/308eef2987.js" crossorigin="anonymous"></script>
</head>
<body class="home">
    <header>
        <img class="logo" src="/images/logo.jpg" alt="">
        <button><i class="fas fa-bars"></i></button>
        <nav>
            <ul>
                <li><a href= "">home</a></li>
                <li><a href= "">quienes</a></li>
                <li><a href= "">servicios</a></li>
                <li><a href= "">portfolio</a></li>
                <li><a href= "">sucursales</a></li>
                <li><a href= "">contacto</a></li>
                
            </ul>
        </nav>
    </header>
    <main>
        <section class="banner">
            <img src="/images/img-banner (1).jpg" alt="banner">
        </section>
        <section class="box_producto">
            <article class="producto">
                <div class="box_imagen" >
                    <img class="producto_imagen" src="/images/img-pdto-1.jpg" alt="imagen producto">
                    <img class="producto_imagen_chiquito" src="/images/img-descuento.png" alt="sticker descuento">
<a href=""class="label">ampliar foto</a>
                </div>
                <h4>lorem ipsum dolor</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere praesentium autem </p>
                <a class="producto_boton" href="#">ver mas</a>
            </article>
            <article class="producto">
                <div class="box_imagen">
                    <img class="producto_imagen" src="/images/img-pdto-2.jpg" alt="imagen producto">
                    <img class="producto_imagen_chiquito" src="/images/img-gratis.png" alt="sticker descuento">
<a href=""class="label">ampliar foto</a>
                </div>
                <h4>lorem ipsum dolor</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere praesentium autem </p>
                <a class="producto_boton" href="#">ver mas</a>
            </article>
            <article class="producto">
                <div class="box_imagen">
                    <img class="producto_imagen" src="/images/img-pdto-3.jpg" alt="imagen producto">
                    <img class="producto_imagen_chiquito" src="/images/img-nuevo.png" alt="sticker descuento">
<a href=""class="label">ampliar foto</a>
                </div>
                <h4>lorem ipsum dolor</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere praesentium autem </p>
                <a class="producto_boton" href="#">ver mas</a>
            </article>
            <article class="producto">
                <div class="box_imagen">
                    <img class="producto_imagen" src="/images/img-pdto-1.jpg" alt="imagen producto">
                    <img class="producto_imagen_chiquito" src="/images/img-descuento.png" alt="sticker descuento">
<a href=""class="label">ampliar foto</a>
                </div>
                <h4>lorem ipsum dolor</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere praesentium autem </p>
                <a class="producto_boton" href="#">ver mas</a>
            </article>
            <article class="producto">
                <div class="box_imagen">
                    <img class="producto_imagen" src="/images/img-pdto-2.jpg" alt="imagen producto">
                    <img class="producto_imagen_chiquito" src="/images/img-gratis.png" alt="sticker descuento">
<a href=""class="label">ampliar foto</a>
                </div>
                <h4>lorem ipsum dolor</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere praesentium autem </p>
                <a class="producto_boton" href="#">ver mas</a>
            </article>
            <article class="producto">
                <div class="box_imagen">
                    <img class="producto_imagen" src="/images/img-pdto-3.jpg" alt="imagen producto">
                    <img class="producto_imagen_chiquito" src="/images/img-nuevo.png" alt="sticker descuento">
<a href=""class="label">ampliar foto</a>
                </div>
                <h4>lorem ipsum dolor</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere praesentium autem </p>
                <a class="producto_boton" href="#">ver mas</a>
            </article>
        </section>
    </main>
    <footer>
        <nav>
            <ul>
                <li><a href= "">home</a></li>
                <li><a href= "">quienes</a></li>
                <li><a href= "">servicios</a></li>
                <li><a href= "">portfolio</a></li>
                <li><a href= "">sucursales</a></li>
                <li><a href= "">contacto</a></li>
                
            </ul>
        </nav>
    </footer>
</body>
</html>