header{
    width: 100%;
}

.logo{
    border-radius: 50%;
    border: solid 1px var(--colorGrisClaro);
    width: 180px;
    height: 180px;
    background-image: url('/images/logo.jpg');
    background-position: center;
    margin: 15px auto 30px;
    background-size: cover;
}

header button{
    width: 50px;
    padding: 5px;
    font-size: 32px;
    background-color: var(--colorGrisOscuro);
    color: white;
    border: none;
    border-radius: 5px;
    margin: 0 auto 30px;
    display: block;
}

header nav ul li{
    width: 100%;
    background-color: var(--colorGrisOscuro);
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
    border-bottom: solid 2px white;
}


