header{
    width: 100%;
}

.logo{
    border-radius: 50%;
    border: solid 1px var(--colorGrisClaro);
    width: 180px;
    height: 180px;
    background-image: url('/images/logo.jpg');
    background-position: center;
    margin: 15px auto 30px;
    background-size: cover;
}

header button{
    width: 50px;
    padding: 5px;
    font-size: 32px;
    background-color: var(--colorGrisOscuro);
    color: white;
    border: none;
    border-radius: 5px;
    margin: 0 auto 30px;
    display: block;
}

header nav ul li{
    width: 100%;
    background-color: var(--colorGrisOscuro);
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
    border-bottom: solid 2px white;
}


@media(min-width: 460px){
/* hay que poner los nombres de los selectores como lo hicimos con los anteriores porque si se lo cambiamos por mas que este bien colocado no se va a modificar */
header button{
    display: none;
}

header nav ul{
    overflow: hidden;
}
header nav ul li{
    width: 15.5%;
    font-size: 0.6rem;
    float: left;
    margin-right: 1.16%;
    }
    .header nav ul li:last-child {
        margin-right: 0;
    }
}

@media(min-width:768px){
    header nav ul li{
        font-size: 1rem;
    }
}

