body.home{
    background-image: url('/images/bg-body.png');
}

.banner{
    display: none;
}

.box_producto{
    margin: 30px 0;
}
.producto{
    width: 100%;
}

.box_imagen{
    position: relative;
}

.producto_imagen{
    width: 100%;
}

.producto_imagen_chiquito{
    position: absolute;
    top: 0;
    right: 10px;

}

.label{
    background-color: rgba(0, 0,0,0.5);
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    display: inline-block;
    padding: 10px 0;
    position: absolute;
    top: 45%;
    left: 0px;
}

.producto h4{
    margin: 10px 0;
}

.producto_boton{
    background-color: var(--colorGrisOscuro);
    display: inline-block;
    margin: 10px 0;
    padding: 5px 0;
    text-align: center;
    width: 80px;
}

/*tablet*/
@media(min-width:460px){
    /* banner*/
    .banner{
        display: block;
        margin-top: 30px;
    }
    .banner img{
        width: 100%;
    }

    /* producto*/

    .box_producto{
        overflow: hidden;
    }

    .producto{
        width: 49%;
        float: left;
        margin-right: 2%;
    }
    .producto:nth-child(even){
        /* esto fue para que las cajitas del main entraran de a dos */
        margin-right: 0%;
    }
}

/* laptop */
@media(min-width:768px){
    .producto{
        width: 32%;
        margin-right: 2%;
    }
    .producto:nth-child(even){
        margin-right: 2%;
    }
    .producto:nth-child(3n){
        margin-right: 0%;
    }
}
